
# exclude all files and folders:
*
# include mase folder only
!mase/
!mase/*
# include only:
!LICENSE
!Pipfile
!Pipfile.lock
!README.md
!setup.py

# include docs for RTD/Sphinx
!docs/
!docs/**

!.readthedocs.yml

.DS_Store
**/.DS_Store
docs/build/.DS_Store
docs/.DS_Store
